.main__container {
  gap: 2.5rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.content__left {
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content__left > h2 {
  width: 25rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

.content__left > h2 > span {
  color: var(--color-brand-1);
}

.content__left > p {
  width: 20rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-gray-3);
}

.content__right {
  width: 20rem;
  height: auto;
  display: flex;
  border-radius: 4px;
  padding: 30px 35px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--color-gray-6);
}

.content__right > h2 {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1.625rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > label {
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

#email, #password {
  width: 18.8rem;
  height: 2.75rem;
  border-radius: 4px;
  padding-left: 1rem;
  border: 1px solid var(--color-gray-6);
}

#email::placeholder,
#password::placeholder {
  font-weight: 400;
  color: var(--color-gray-4);
  font-family: 'Poppins', sans-serif;
}

#email:focus,
#password:focus {
  border-color: var(--color-gray-1);
}

#email:focus::placeholder,
#password:focus::placeholder {
  color: transparent;
}

#submit {
  cursor: pointer;
  height: 2.375rem;
  width: 20.063rem;
  font-weight: 500;
  border-radius: 4px;
  margin-bottom: 1.625rem;
  color: var(--color-gray-9);
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-brand-1);
  border: 1px solid var(--color-brand-1);
}

.content__right > p {
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.313rem;
  margin-bottom: 1.25rem;
}

.content__right p:nth-of-type(2) {
  font-weight: 400;
}

button {
  width: 20rem;
  cursor: pointer;
  font-size: 14px;
  height: 2.375rem;
  font-weight: 500;
  border-radius: 4px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  border: 1px solid var(--color-gray-6);
}